@use "../../sass/abstracts" as *;
@use "../../sass/base" as *;
.companyInfo {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  color: $yellow;
  gap: 10px;
  font-weight: 500;
  img {
    width: 60px;
    height: 40px;
  }
}
