.wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .advertisements {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
  }
}
