::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    position: absolute;
    width: 32px;
    height: 30px;
    left: 23px;
    top: calc(50% - 30px/2);

    font-family: 'MADE Tommy Soft';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

input{
    border: 3px solid #8D8D8D;
    border-radius: 15px;
}

.input-small {
    /* Ad Soyad */

    box-sizing: border-box;

    position: absolute;
    width: 190px;
    height: 60px;
    left: 58px;
    top: 139px;

    /* Darker Grey */

    
}

.input-small-surname {
    box-sizing: border-box;

    position: absolute;
    width: 190px;
    height: 60px;
    left: 268px;
    top: 139px;

    /* Darker Grey */

    border: 3px solid #8D8D8D;
    border-radius: 15px;
}

.input-large {
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 60px;
    left: 58px;
    top: 234px;

    /* Darker Grey */

    border: 3px solid #8D8D8D;
    border-radius: 15px;
}

.blue_color {
color: #5463FF;
}
.blue_background_color {
background-color: #5463FF;
}

form.formdiv {
    width: 656px;
    height: 712px;
    left: 1120px;
    top: 200px;
}
